body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgb(75, 75, 225);
    color: yellow
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 1rem;
    height: 17rem;
    width: 24rem;
    background: rgba(225, 225, 225, 0.2);
    border-radius: 25px;
}

.temp{
    display: flex;
    flex-direction: row;
    gap: 12rem;
}
h4{
    font-size: 1.5rem;
}
h3{
    font-size: 1.5rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
input{
    height: 1.5rem;
    width: 15rem;
    border-radius: 8px;
    border: none;
    background-color: rgb(176, 176, 212);
    border: 2px solid  rgb(38, 38, 123) ;
}
button{
    height: 2rem;
    width: 5rem;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background-color: rgb(38, 38, 123);
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: rgb(47, 47, 83);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
